html, body, .container {
    height: 100%;
    /*background: url(/public/img/greyzz.png) repeat 0 0;*/
    /*background: url(/public/img/sayagata-400px.png) repeat 0 0;*/
    /*background: url(/public/img/cream_pixels.png) repeat 0 0;*/
    /*background: url(/public/img/wavegrid.png) repeat 0 0;*/
    background: url(/public/img/subtle_white_feathers.png) repeat 0 0;
}

.container {
    display: table;
    vertical-align: middle;
}

.content {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

#profile-image {
    height: 10em;
    width: 10em;
    margin-right: 40px;
}

#name {
    font-size: 35px;
    font-family: 'Lobster', Georgia, Times, serif;
    line-height: 20px;
    margin-top: 10px;
}

#about {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

.content-row {
    padding-left: 0px;
}

.link {
    padding-left: 0px;
}

.link a {
    color: #777;
}

.link a:hover {
    color: #3399ff
}

